@import url(common.css);
@font-face {
  font-family: "Korail_Round_Gothic_Light";
  src: url("../fonts/Korail_Round_Gothic_Light.woff") format("woff");
}
@font-face {
  font-family: "Korail_Round_Gothic_Medium";
  src: url("../fonts/Korail_Round_Gothic_Medium.woff") format("woff");
}
@font-face {
  font-family: "Korail_Round_Gothic_Bold";
  src: url("../fonts/Korail_Round_Gothic_Bold.woff") format("woff");
}

:root {
  --main-bg-color: rgba(0,91,172); /* #005BAC */ 
  --sub-bg-color: rgba(0,178,227); /* #00B2E3
 */
 --korail-gray: rgba(119,119,122); /* #77777A */
}
body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  color: #191919;
  letter-spacing: -1px;
}
section {
  margin: auto;
}
.inner-01,
.inner-02,
.inner-03,
.footer-inner {
  max-width: 1400px;
  width: 1400px;
  margin: auto;
  padding: 50px 0;
}
.title, h1,h2,h3,h4,h5,h6 {
  font-size: 1.750rem; /* 28px */
  font-weight: 600;
  margin-bottom: 50px;
  color: #191919;
}
/* ############## Header ############## */
header {
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100px;
}
header.active {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.header-inner-1f {
  height: 50px; 
  background: #083B82;
  color:#fff;
}
.header-inner-2f {
  height: 50px;
  background-color: #fff;
}
.header-1f,
.header-2f {
  width: 1400px;
  height: 100%;
  margin: auto;
  text-align: center;
}
.logo {
  display: inline-block;
  width: 210px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.logo>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lnb-area {
  width: 400px;
  float: right;
}
.lnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lnb li {
  font-size: 14px;
  padding: 15px 0;
}
.gnb {
  display: flex;
  justify-content: space-between;
}
.gnb .main {
  width: calc(100% / 6);
}
.gnb>.main>a {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px; 
  font-size: 18px;
  font-weight: 500;
}

/* Sub Menu*/
.sub_all {
  position: absolute;
  top: 100%;
  width: 100%; /* 헤더 전체 */
  height: 300px;
  z-index: 100;
  display: none;
}
.sub_all .sub_of_sub {
  height: inherit;
  z-index: 150;
}
.sub_all .sub_of_sub.first {border-left: none;}
.sub_all .sub_of_sub.last {border-right: none;}
.sub_all .sub_of_sub li{
  min-width: 190px;
  max-width: 210px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #191919;
  font-size: 16px;
  word-break: normal;
}
.sub_all .sub_of_sub li:hover {
  background-color: #dbe4ea;
}
.sub_all .sub_of_sub li.bold {
  color: var(--sub-bg-color);
  font-weight: bold;
}

/* 100%서브배경박스 */
.sub_bgbox {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 350px;
  background-color: #fff;
}



/* ############## Section ############## */
/* -------------- Section: main -------------- */
#main {
  padding-top: 100px;
  max-width: 1920px;
  max-height: 750px;
  width: 1920px;
  height: 750px;
  position: relative;
}
/* ----------------------------------------------------------------------- */
.fadeShow{
  position: absolute;
  width: 100%;
  height: 650px;
  margin: auto;
  overflow: hidden;
}
.changeimg {
  width: 100%;
  height: 100%;
  
}
/* (1)이미지 모두 동일한 위치, 안보이게 함 */
.changeimg ul li{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.1);
  transition: 1.5s;
}
.changeimg ul li.imgVisible {
  opacity: 1;
  transform: scale(1);
  z-index: 99;
}

.changeimg ul li:nth-child(1){
  background-image: linear-gradient(
    to left, rgba(0,0,0,0), rgba(0,0,0,0.3)
  ), url(../images/main/520376.jpg);
  background-position: bottom center;
}
.changeimg ul li:nth-child(2){
  background-image: linear-gradient(
    to left, rgba(0,0,0,0), rgba(0,0,0,0.3)
  ), url(../images/main/월정사2.jpg);
  background-position: bottom center;
}
.changeimg ul li:nth-child(3){
  background-image: linear-gradient(
    to left, rgba(0,0,0,0), rgba(0,0,0,0.3)
  ), url(../images/main/부산.jpg);
  background-position: bottom center;
}
.changeimg ul li:nth-child(4){
  background-image: linear-gradient(
    to left, rgba(0,0,0,0), rgba(0,0,0,0.3)
  ), url(../images/main/춘천.jpg);
  background-position: bottom center;
}

/*비주얼 텍스트 공통*/
.des {
  position: absolute;
  width: 1200px;
  height: 480px;
  bottom: 0;
  left: 45%;
  transform: translateX(-50%) scale(1.1);
  color: #fff;
  opacity: 0;
  transition: all 1s;
}
.des.textVisible {
  opacity: 1;
  transform: translateX(-50%) scale(1);
}
.des h3 {
  width: 100%;
  font-size: 60px;
  color: #fff;
  text-shadow: 0 0 2px #eee;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 5px;
}
.des p{
  font-size: 18px;
  line-height: 30px;
}
.des button{
  width: 150px;
  height: 42px;
  background:rgba(0,0,0,0.3);
  border:1px solid #ccc;
  text-align: center;
  line-height: 42px;
  font-size: 14px;
  margin: 25px auto 0;
  transition: 0.35s;
  color: #fff;
}
.des button:hover{
  background:rgba(0,0,0,0.6);
}

/* 좌우버튼 */
.icon{
  font-size: 80px;
  color: rgba(255,255,255,0.8);
}
.side_btn .lbtn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  left: 30px;
  width: 65px;
  height: 60px;
}
.side_btn .lbtn:hover{opacity: 0.5;}

.side_btn .rbtn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  right:30px;
  width:65px;
}
.side_btn .rbtn:hover{opacity: 0.5;}

/* ----------------------------------------------------------------------- */


/* -------------- Section: 예약탭 -------------- */
.reserve-wrap {
  position: relative;
  width: 1300px;
  height: 225px;
  margin: auto;
}
.reserve-wrap .station-tab {
  position: absolute;
  top: -55px;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 300;
}
.reserve-wrap .station-tab div {
  font-size: 1.250rem;
  font-weight: 600;
  color: #fff;
  width: 200px;
  height: 55px;
  border-radius: 10px 10px 0 0;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  background: rgba(0,91,172,0.9);
}
.reserve-wrap .station-tab div:hover,
.reserve-wrap .station-tab div.active {
  background: rgba(0,178,227,0.9);
}
.reserve-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 170px;
  border-radius: 0 0 10px 10px;
  padding: 50px 40px;
  background: rgba(255,255,255,0.6);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.reserve-content.active {
  display: block;
}
.input-area {
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.input-area input,
.input-area select {
  width: 165px;
  border: none;
  padding: 1rem 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  border-bottom: 2px solid #888;
}
/* xeicon */
.input-area i {
  font-size: 24px;
  color: var(--korail-gray);
  line-height: 58px;
  margin-left: -70px;
  cursor: pointer;
}
.reserve-content button {
  border-style: none;
  border-radius: 5px;
  background-color: #ED4F44;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  width: 10.5rem;
  padding: 0.9rem 0;
  font-weight: 600;
  cursor: pointer;
}

/* -------------- group-01: 할인상품,배너 -------------- */
#group-01 {
}
.inner-01 {
  display: flex;
  justify-content: space-between;
}
.inner-left { 
  width: 50%; 
  border-right: 1px solid #eee;
}
.inner-left, .inner-right {
}
.sales {
  margin-right: 50px;
  margin-bottom: 50px;
}
.sales-icon {
  display: flex;
  justify-content: space-between;
}
.sales-icon .sales-iconBox {
  display: inline-block;
  border-radius: 10px;
  padding: 15px 0 0;
  width: 150px;
  height: 150px;
  border: 1px solid #eee;
  text-align: center;
  cursor: pointer;
}
.sales-iconBox:hover>img{
  filter: invert(0);
}
.sales-iconBox:hover {
  background-color: aliceblue;
}
.sales-iconBox img {
  width: 80px;
  height: 80px;
}
.sales-iconBox span {
  display: inline-block;
  width: 150px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin-top: 15px;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  border-radius: 0 0 10px 10px;
}

.student {filter: invert(55%) sepia(72%) saturate(466%) hue-rotate(93deg) brightness(88%) contrast(86%);}
.youth {filter: invert(55%) sepia(35%) saturate(2291%) hue-rotate(178deg) brightness(92%) contrast(86%);}
.mom {filter: invert(74%) sepia(20%) saturate(6392%) hue-rotate(355deg) brightness(99%) contrast(92%);}
.children {filter: invert(48%) sepia(44%) saturate(4816%) hue-rotate(336deg) brightness(92%) contrast(95%);}
.student~span {background-color: #27AF61;}
.youth~span {background-color: #3598DC;}
.mom~span {background-color: #F29E11}
.children~span {background-color: #E54F3D}

.event {
  height: 600px;
}
.banner-slide {
  width: 600px;
  height: 475px;
}
.banner-slide img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.banner-slide .slick-dots li {
  margin: 0; /* 간격조정 */
}
.banner-slide .slick-dots li button:before {
  top: 10px;
  opacity: 1;
  transform: scale(0.7);
}
.banner-slide .slick-dots li.slick-active button:before {
  opacity: 1;
  color: transparent;
  border: 1px solid #000;
  border-radius: 50%;
  top: 8px;
  transform: scale(0.5);
}
.trip {
  margin-right: 50px;
}
.trip-box {
  cursor: pointer;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.trip-box img {
  width: inherit;
  height: inherit;
}

/* -------------- group-02: 종합이용가이드 -------------- */
#group-02 {
  background-color: #f8f8f8;
}
.inner-02 {
}
.icon-area {
  display: flex;
  justify-content: space-between;
}
.icon-box {
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  display: flex;
  transition: 0.5s;
  flex-direction: column;
  border-radius: 10px;
  border-radius: 12px;
  background: #f0efef;
  box-shadow:  8px 8px 9px #cccbcb,
              -8px -8px 9px #ffffff;
}
.icon-box img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.icon-box span {
  display: inline-block;
  font-size: 18px;
  text-align: center;
  white-space: pre-line;
  width: 100%;
  height: 55px;
}
.icon-box:hover {
  background-color: aliceblue;
  filter: invert(0);
}
.icon-box:hover img {
  transform: translateY(-10%);
}
.tranin-animation {
  position: relative;
  height: 240px;
  animation: trainFlow 13s linear 0s infinite;
}
.train-wrap {
  max-width: 1040px;
  width: 100%;
  height: 140px;
  padding-top: 100px;
  position: absolute;
  top: 0;
  left: 100%;
}
.train-wrap img {
  max-width: 100%;
  position: absolute;
}
@keyframes trainFlow {
  0% {transform: translateX(0%)}
  25% {transform: translateX(-37%);}
  50% {transform: translateX(-75%)}
  75% {transform: translateX(-112%)}
  100% {transform: translateX(-150%)}
}
/* -------------- group-03: 공지사항 -------------- */
#group-03 {
  position: relative;
}
.inner-03 {
  overflow: hidden;
}
.notice-area,
.station-area {
  height: 580px;
}
/* 공지사항 */
.notice-area {
  width: 50%; 
  float: left;
  padding-right: 50px;
}
.notice-area .title {
  display: inline-block;
}
.notice {
  max-width: 95%;
  width: 95%;
  height: auto;
  margin-right: 50px;
  overflow: hidden;
}
.notice .subtitle {
  font-size: 20px;
  margin-bottom: 20px;
  float: left;
}
.more_btn {
  float: right;
  text-align: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
} 
.more_btn:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: #000;
  transition: 0.35s;
}
.more_btn:hover::after {
  width: 100%;
}
.notice table {
  border-top: 1px solid #191919;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.notice table tr td {
  border: none;
  border-bottom: 1px solid #eee;
  font-weight: 500;
  cursor: pointer;
  text-indent: 3px;
  height: 5rem;
  margin-bottom: 10px;
}
.notice table tr:last-child td {
  border-bottom: none;
}
.notice table tr:hover {
  background-color: aliceblue;
}
.td-date {
  text-align: center;
}

/* KTX역 정보 */
.station-area {
  width: 50%;
  float: right;
}
.stationInfo-tab {
  max-width: 100%;
  width: 100%;
}
.tab-header {
  width: 100%;
  height: 45px;
  position: relative;
}
.tab-menu {display: flex;}
.tab-menu li {
  width: 120px; /*->jQuery에서 탭메뉴 움직이는 거리*/
  height: 45px;
  box-sizing: border-box;
  line-height: 45px;
  text-align: center;
  letter-spacing: 1px; 
  border-radius: 10px 10px 0 0;
  border: 1px solid #fff;
  border-bottom: 1px solid #111;
  background-color: #eee;
  color: #191919;
  cursor: pointer;
}
.tab-menu li.active {
  background-color: #fff;
  color: #191919;
  border-radius: 10px 10px 0 0 ;
  border: 1px solid #111;
  border-bottom: none;
}
.tab-contents {
  border-top: none;
  display: flex; /* 지도와 역사진 */
  justify-content: space-between;
}
.tab-contents .tab-box {
  display: inline-block;
  /* width: 100%; */
  height: 450px;
  padding: 20px;
  display: none;
}
.tab-contents .tab-box.active { display:block; }
.tab-box {
  position: relative;
}
.tab-contents img {
  width: 300px;
  height: auto;
  aspect-ratio: auto 1/1;
}
.st_info_btn li {
  min-width: 25px;
  max-width: 100px;
  height: 20px;
}
.st_info_btn li a {
  position: absolute;
  display: block;
  background: #F29E11;
  color: #000;
  border: 1px solid #191919;
  border-radius: 3px;
  box-shadow: 1px 1px 0 rgba(0,0,0,.2);
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  padding: 2px 3px;
}
.ps01 a {
  left: 58px;
  top: 59px;
}
.ps02 a { 
  left: 97px;
  top: 68px;
}
.ps04 a { 
  left: 105px;
  top: 98px;
}
.ps05 a { 
  left: 58px;
  top: 114px;
}
.ps06 a { 
  left: 122px;
  top: 150px;
}
.ps07 a { 
  left: -5px;
  top: 177px;
}
.ps08 a { 
  left: 123px;
  top: 188px;
}
.ps09 a { 
  left: 104px;
  top: 246px;
}
.ps11 a { 
  left: 201px;
  top: 250px;
}
.ps12 a { 
  left: 245px;
  top: 275px;
}
.ps16 a { 
  left: 303px;
  top: 297px;
}
.ps17 a { 
  left: 298px;
  top: 327px;
}
.ps18 a { 
  left: 280px;
  top: 368px;
}
.ps19 a { 
  left: 232px;
  top: 357px;
}
.ps13 a { 
  left: 214px;
  top: 323px;
}
.ps40 a { 
  left: 300px;
  top: 264px;
}
.ps56 a { 
  left: 180px;
  top: 298px;
}


/* 역 정보 표시 */
.tab-contents .st_info_text {
  padding: 20px 0;
  display: inline-block;
}
.tab-contents .st_info_text>div {
  width: inherit;
  height: inherit;
}
.tab-contents .st_info_text img {
  width: 100%;
}
.st_info_text p {
  text-align: center;
  font-weight: 500;
  margin-bottom: 15px;
  background-color: var(--main-bg-color);
  color: #fff;
  padding: 5px 0;
  border-radius: 3px;
}
#infoTable {
  width: inherit;
  font-size: 14px;
  word-break: break-all;
  margin-top: 20px;
}
#infoTable tr {
  height: 45px;
}
#infoTable td {
  border: 1px solid #eee;
  padding: 5px 0;
}
#infoTable td:first-child {
  width: 20%;
  text-align: center;
}
#infoTable td:last-child {
  width: 80%;
}







/* -------------- group-04: ktx매거진 -------------- */
#group-04 {
}
.inner-04 {
  max-width: 1400px;
  width: 1400px;
  margin: auto;
  padding: 50px 0;
}
.magazine-header {
  width: 100%;
  margin: 50px auto;
}
.magazine-header .title {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: bottom;
}
.magazine-wrap {
  width: 100vw;
  max-width: 100vw;
}
.magazine-slider { 
  width: 100%;
}
.magazine-slider .slide {
  width: 280px;
  height: 375px;
  padding: 20px;
  margin-right: 50px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
  position: relative;
}
.magazine-slider .slide img {
  margin: auto;
  width: 158px;
  height: 208px;
  box-shadow: 5px 9px 20px 0 rgba(0, 0, 0, 0.08);
  transition: 0.5s;
}
/* hover 박스 */
.content {
  position: absolute;
  display: inline-block;
  top: 100%;
  left: 0;
  text-align: center;
  width: inherit;
  height: inherit;
  padding-top: 20px;
  transition: 0.5s;
}
.slide:hover .content{
  transform: translateY(-50%);
}
.slide:hover img {
  transform: translateY(-10px) scale(1.1);
}
.slide .content {
  padding-top: 130px;
}
.slide .content span {
  display: inline-block;
  width: 100px;
  height: 35px;
  border: 1px solid #000;
  background-color: #191919;
  line-height: 35px;
  color: #fff;
  margin: 0 5px;
  cursor: pointer;
}
.slide .content span:hover {
  background-color: #fff;
  color: #191919;
  border: 1px solid #111;
}
.progress {
  margin-top: 70px;
  display: block;
  width: 100%;
  height: 3px;
  overflow: hidden;
  background-color: rgba(143, 142, 142, 0.15);
  background-image: linear-gradient(to right, black, black);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size .4s ease-in-out;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* -------------- group-05: 흐르는 텍스트 -------------- */
#group-05 {
  max-width: 100%;
  width: 100%;
  height: 400px;
}
.animated-title {
  color: var(--main-bg-color);
  font-size: 72px; 
  letter-spacing: 2px;
  font-family: 'Korail_Round_Gothic_Bold';
  position: relative; 
  width: 100vw;
  max-width:100%; 
  height: 200px; 
  padding:100px 0; 
  overflow: hidden; 
}
.animated-title .track {
  position: absolute; 
  white-space: nowrap;
  will-change: transform;
  animation: marquee 30s linear infinite; 
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

/* ############## Footer ############## */
footer {
  width: 100%;
  height: 320px;
  background-color: #fff;
  border-top: 1px solid var(--korail-gray);
}
.footer-inner {
  display: flex;
}
.footer-logo {
  flex: 1;
}
.footer-text {
  flex: 3;
}
.footer-imgs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.footer-text nav ul {
  display: flex;
  justify-content: space-between;
}
.footer-text address span {
  font-size: 14px;
  font-style: normal;
  white-space: pre-line;
}
.footer-text .copy {
  font-size: 12px;
  font-weight: 700;
}

